<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
  <script src="/js/home.js"></script>
</head>
<header>
  <div class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/#">OAA Tournament</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#SteamWrapper"><span class="navbar-toggler-icon"></span></button>
  </div>
</header>
<body>
  <div ng-app="App" ng-controller="AppCtrl">
    <div id="AdWrapper" class="float-left">
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-3550298346659940"
       data-ad-slot="1682345786"></ins>
  </div>
  <div id="SteamWrapper" class="collapse float-right" style="margin:5px;">
    <div class="card" style="width:20rem;" ng-hide="hideLogin">
      <div class="card-body">
      <h4 class="card-title">Login with Steam:</h4>
      <a href="/login/steam"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png"></img></a>
      </div>
    </div>
    <div class="card" style="width:20rem;" ng-show="hideLogin">
      <div class="card-body">
        <h4 class="card-title">Welcome to OAATournament</h4>
        <p class="card-text">
          Your SteamID: {{profile.SteamID}}
          Your Team: {{profile.Team}}
        </p>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;">
    <div class="jumbotron">
      <h1 class="display-4">The Grand Tournament</h1>
      <p class="lead">The first Open Angel Arena Tournament on starts on the 9th September 2017</p>
      <hr class="my-4">
      <p class="">
        Login with Steam to sign up for the Tournament, either join or create a Team to join the brawl!
      </p>
    </div>
    <div class="row">
      <h4>All Teams that signed up</h4>
      <table class="table table-inverse table-hover">
        <thead>
          <th>Team Name</th>
          <th>Team Players</th>
          <th>Open to Join</th>
        </thead>
          <tbody>
            <tr ng-repeat="i in Teams">
              <td>{{i.Name}}</td>
              <td>{{i.Players.length}} / 5</td>
              <td> no </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
    <div class="card" id="TeamJoinOrCreate" ng-show="LoggedInNoTeam">
      <div class="card-body">
      <h3 class="card-title">
        Join a Team per invitelink or create your own Team!
      </h3>
      <label class="label">Create a Team:</label>
      <div class="input-group">
      <input class="form-control" type="text" ng-model="ctname" placeholder="Teamname..."></input>
      <button ng-click="createTeam()" class="input-group-addon">Create Team</button>
      </div>
    </div>
  </div>
    <div class="card" id="TeamController" ng-show="hasTeam">
      <div class="card-body">
      <div class="input-group">
        <input class="form-control" id="invlink" type="text" readonly ng-model="invlink"></input>
        <span id="invlinkbtn" data-clipboard-target="#invlink" class="input-group-addon"><img src="/octicons/svg/clippy.svg"></span>
      </div>
      <table class="table" style="width:30rem;">
        <thead>
          <th>SteamID</th>
          <th ng-show="leader">Kick</th>
        </thead>
        <tbody>
          <tr class="table-tr" ng-repeat="p in team.Players">
            <td>{{ p }}</td>
            <td ng-show="leader"><button ng-click="kick(p)" class="btn btn-danger"> Kick </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
  </div>
</div>
</body>
</html>
